<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access keys List</title>
</head>
<body>
    <h1>Access Keys List</h1>
  
   
      <br>
      <br>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Is Verified</th>
            <th>Access Keys</th>
            <th>Status</th>
            <th>Date of Procurement</th>
            <th>Expiry Date</th>
          </tr>
        </thead>
        <tbody>
          <% accessKeys.forEach( accessKey => { %>
          <tr>
            <td><%= accessKey.id %></td>
            <td><%= accessKey.email %></td>
            <td><%= accessKey.is_verified %></td>
            <td><%= accessKey.access_keys %></td>
            <td><%= accessKey.status %></td>
            <td><%= accessKey.date_of_procurement %></td>
            <td><%= accessKey.expiry_date %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
  
</body>
</html>