<!DOCTYPE html>
<html>
<head>
	<title>User Dashboard</title>
	<link rel="stylesheet" type="text/css" href="/css/dasboard.css">
</head>
<body>
	
	<% const userData = users; %>
	<% userData.filter(user => user.email === currentUserEmail).forEach(user => { %>
		<%= 'Welcome ' + user.email %>
	
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Access Keys</th>
					<th>Status</th>
					<th>Date of Procurement</th>
					<th>Expiry Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= user.id %></td>
					<td><%= user.access_keys %></td>
					<td><%= user.status %></td>
					<td><%= user.date_of_procurement %></td>
					<td><%= user.expiry_date %></td>
				</tr>
			</tbody>
		</table>
	<% }); %>
	
</body>
</html>
